$colors-map: (
    'primary-100' : $primary-100,
    'primary-200': $primary-200,
    'accent-100' : $accent-100,
    'accent-200' : $accent-200,
    'neutral-100' : $neutral-100,
    'neutral-200' : $neutral-200,
    'light-gray' : hsl(240deg, 75%, 98.43%),
    'error' : $error
);

@each $key, $val in $colors-map{
    .text-#{$key} {
        color: $val;
    }

    .bg-#{$key} {
        background-color: $val;
    }
}
