// colors

//primary colors
$primary-100: hsl(238, 22%, 44%);
$primary-200: hsl(243, 87%, 12%);

// accent colors
$accent-100: hsl(170, 45%, 43%);
$accent-200: hsl(224, 93%, 58%);

// neutral colors
$neutral-100: hsl(240, 75%, 98%);
$neutral-200: hsl(0, 0%, 75%);

// my own classess
$error: red;

// typography
$heading-1: 33px;

$text-small: 14px;

$mediaQuery-mobile-vp: 768px;