.btn{
    padding: calc($base-spacing / 1.2) $base-spacing; 
    border-radius: $base-border-radius;
    width: 190px;
    background-color: $accent-200;
    color: $neutral-100;
    border: $base-thickness solid $accent-200;
    font-size: $text-small;
    font-weight: 700;
    cursor: pointer;

    &:hover{
        background-color: hsl(220.54deg, 100%, 70.98%);
    }

    @media (max-width: $mediaQuery-mobile-vp) {
        &{
            width: 100%;
        }
    }
}