.card{
    // display: inline-block;
    background-color: #fff;
    max-width: 300px;
    box-shadow: 0 0 10px $neutral-200;
    padding: $spacing-lg;
    border-radius: $base-border-radius;

    .comment{
        font-size: $text-sm;
        color: $primary-100;
        font-weight: 700;
    }

    .details{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 7px;
    }
    @media (max-width: $mediaQuery-mobile-vp) {
        &{
            margin: 0 auto;
        }
    }
}

