.logo{
    img{
        height: 35px;
    }
}

.illustration{
    max-width: 500px;
    width: 100%;
    margin-left: auto;

    @media (max-width: $mediaQuery-mobile-vp) {
        &{
            margin: 0 auto;
        }
    }
}

.icon{
    display: inline-block;
    width: 17px;
    margin-right: $spacing-md;
    vertical-align: middle;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}