nav{
    @include flex(space-between, center);

    .logo img{
        margin-right: $spacing-md;
    }

    ul{
        list-style-type: none;
        @include flex();

        li{
            &:not(:first-child){ margin-left: $spacing-lg; }
            
            a{
                text-decoration: none;
                display: inline-block;
                padding: $spacing-sm;
                color: $primary-200;
            }
        }
    }
}